import random
import telebot
from telebot import types

bot = telebot.TeleBot('token')

@bot.message_handler(commands=['start'])
def test_psi(message):
    markup = types.InlineKeyboardMarkup()
    markup.add(types.InlineKeyboardButton(text='Пройти тест',
                                          url='https://www.idrlabs.com/ru/anxiety-stress-depression/test.php'))
    bot.send_message(message.chat.id,
                     "Здравствуйте! Я бот, который пришлет тест по оценке уровня депрессии, тревожности и стресса.\nТакже я вышлю вам полезные ссылки, после того, как вы напишите мне, какой из показателей у вас повышен.\nИтак, начнем тестирование:",
                     reply_markup=markup)
    bot.send_message(message.chat.id,
                     "Когда вы закончите, напишите показатель, который у вас выше среднего показателя: *стресс*, *тревожность* или *депрессия*.",
                     parse_mode='Markdown')

@bot.message_handler(func=lambda message: True)
def handle_test_result(message):
    result = message.text.lower()

    if result not in ["стресс", "тревожность", "депрессия"]:
        bot.reply_to(message,
                     "Пожалуйста, напишите один из вариантов вашего повышенного показателя: *стресс*, *тревожность* или *депрессия*.",
                     parse_mode='Markdown')
        return

    polza_statei(result, message)
    polza_yutbe(result, message)


def polza_statei(result, message):
    if result == "стресс":
        articles = [
            "https://www.b17.ru/article/464117/",
            "https://www.b17.ru/article/464386/",
            "https://www.b17.ru/article/464310/"
        ]
    elif result == "тревожность":
        articles = [
            "https://www.b17.ru/article/kak_spravitsya_s_trevojnimi_mislyami/",
            "https://www.b17.ru/article/kak_izbavitsya_ot_trevogi_7sekretnih/",
            "https://www.b17.ru/blog/chto_pochitat_pro_trevogu/"
        ]
    elif result == "депрессия":
        articles = [
            "https://www.b17.ru/blog/chto_takoe_depressiya/",
            "https://www.b17.ru/article/povedencheskaya-aktivatsii-eksperiment/",
            "https://www.b17.ru/article/depressiya-eto-bolezn/"
        ]

    if articles:
        bot.send_message(message.chat.id, "Вот статья по результатам теста:")
        article = random.choice(articles)
        bot.send_message(message.chat.id, article)

def polza_yutbe(result, message):
    if result == "стресс":
        playlists = [
            "https://www.youtube.com/watch?v=Lcd-rCktwDg&list=PLPNzHQ3dbnnrqGgcKQqG-5Gtl-XqNASHv",
            "https://www.youtube.com/watch?v=8Tv3flM-xvY&list=PLv_BjIKGm-UYg22rthQiMQT8mWblEPYxI",
            "https://www.youtube.com/watch?v=j8bl81VVkxM&list=PLjRF0k-aUGD84s24jkHiBgitxCnNvfE8U"
        ]
    elif result == "тревожность":
        playlists = [
            "https://www.youtube.com/watch?v=1pMRpjC_lKg&list=PLwcFyFHL0afOg78eYfZeiLlxMKVKLg6BJ&pp=iAQB",
            "https://www.youtube.com/watch?v=-IAzSKYl6gk&list=PLosMrMnggLq97lZq7nWFQ7BilqcIcrip_",
            "https://www.youtube.com/watch?v=CRmYQhWvkGc&list=PLgSBXyruqjResprL3Q9I27ETas6XD_FZQ"
        ]
    elif result == "депрессия":
        playlists = [
            "https://www.youtube.com/watch?v=OtEFE0BSyfI&list=PLbXhsRoASq9i3IT1dSKWcGHlL4cDNOsQB",
            "https://www.youtube.com/watch?v=YaUkBmooefU&list=PLf7WRSHYASzQ2HGhT4OkLvwM_dANPmhkt",
            "https://www.youtube.com/watch?v=vcsmn4mtinw&list=PL7p2qY-vNoqbdRGuqAbJap7nX79_jxFUI"
        ]

    if playlists:
        bot.send_message(message.chat.id, "Вот видео по результатам теста:")
        playlist = random.choice(playlists)
        bot.send_message(message.chat.id, playlist)


bot.infinity_polling()
